pandas
pyarrow
fastparquet
numpy

kagglehub[pandas-datasets]
kagglehub
kagglesdk

nltk

matplotlib
plotly

pytest

scikit-learn
hmmlearn
joblib

mlflow

psycopg2


cryptography

asyncio
fastapi
uvicorn
python-multipart
prometheus_fastapi_instrumentator

prometheus-client

mistralai==2.8.0
google-genai

pyjwt
pwdlib