pandas
pyarrow
fastparquet
numpy

kagglehub[pandas-datasets]
kagglehub
kagglesdk

nltk

matplotlib
plotly

pytest

scikit-learn
hmmlearn
joblib

mlflow

psycopg2

smtplib

cryptography

asyncio
fastapi
uvicorn
python-multipart
prometheus_fastapi_instrumentator