h2.period{
    font-size: 11px;
    font-weight: 500;
}

/* INFO CARDS */
div.global-infos-cards{
    display: flex;
    gap:10px;
    margin-top: 20px;
    margin-bottom: 10px;
}

div.g-info-card{
    width: 220px;
    padding: 10px 20px;
}


div.g-info-card p.info-value{
    color: #6A70C7;
}


div.g-info-card-blue p.info-value{
    color: #ffffffb6;
}

div.g-info-card-blue h3{
    color: #ffffff;
}

div.g-info-card-blue svg{
    color: #ffffff;
}

div.g-info-card-blue{
    background-color: #4D5AF7;
}

/* INFO GRAPHS */

div.global-infos-graphs{
    display: flex;
    gap:10px;
}

div.g-info-graph{
    height: 340px;
    padding: 10px 20px;
}
div.g-info-graph-dis{
    width: 40%;
}

div.g-info-graph-evo{
    width: 60%;
}

div#dis-per-cat,#evo-per-cat{
    width: 100%;
    height: 270px;
    border: 1px solid #b0ccfd81;
    border-radius: 10px;
    overflow: hidden;
}



/* BOITE DE RECEPTION */
section.boite-de-reception{
    display: flex;
    width: 100%;
    gap:20px;
    margin-top: 60px;
}
/* MESSAGES ET FILTERS */
div.messages-and-filters{
    width: 50%;
}
div.message-et-info{
    width: 50%;
}

/* FILTERS */
div.filters{
    display: flex;
    gap:20px;
    margin-left: 5px;
}
div.filters label{
    font-size: 14px;
    font-weight: 800;
}

select{
    background-color: transparent;
    border: #282f7f7e 1px solid;
    width: 160px;
    height: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    padding-left: 10px;
}

/* MESSAGE CARD */

div.messages{
    display: flex;
    flex-direction: column;
    gap: 6px;
    height: 700px;
    overflow-y: scroll;
    padding-right: 12px;
    padding-bottom: 20px;
    padding-left: 5px;
}

div.messages div.card{
    width: 100%;
    padding: 10px 20px;
    padding-right: 30px;
    padding-bottom: 20px;
    position: relative;
    cursor: pointer;
}

div.messages div.card:hover{
    border: solid #6FB8F8 1.2px; 

}

div.messages div.card h3{
    font-size: 14px;
    font-weight: 800;
    margin-bottom: 10px;
}

div.messages div.card span.date{
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 10px;
    color: #5E5E5E;
}

div.messages div.card p{
    font-size: 12px;
}

div.messages div.card p.mail{
    font-size: 12px;
    color: #5E5E5E;
}
div.messages div.selected-card{

    position: relative;
}

div.messages div.selected-card::before{
    content: "";
    position: absolute;
    left: 0;
    width: 10px;
    height: 100%;
    background-color: #4d5af7; 
    top: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

/* STATUS */
div.status{
    display: flex;
    gap:30px;
    margin-bottom: 20px;
    margin-top: 30px;
}

div.status div{
    font-size: 14px;
    display: flex;
    gap: 10px;
    font-weight: 800;
}

div.table-et-message{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
/* MESSAGE ZONE */

div.message{
    padding: 20px 25px;
    padding-bottom: 40px;
    position: relative;
}



div.message div.menu{
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}

div.content-and-metadata{
    margin-top: 30px;
}

div.content-and-metadata p{
    font-size: 13px;
    line-height: 22px;
    color: #03005b9b;
}

div.content-and-metadata strong{
    font-weight: 800;
    font-size: 14px;
    margin-right: 5px;
    color: #03005B;
}

div.content-and-metadata div.content{
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 20px;
    padding-bottom: 25px;
    border: #e3e8fc 1px solid;
    border-left: 0;
    border-right: 0; 
}

div.correction{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding-top: 20px;
}

div.correction p{
    font-size: 11px;
    opacity: 0.6;
    padding-top: 5px;
}


/* TABLE */

div.table-metrics table{
    /* margin-top: 20px; */
    /* margin-bottom: 50px; */
    font-size: 14px;
    width:  100%;
    border-collapse : collapse;
    border-radius: 5px;
    overflow: hidden;
}

div.table-metrics table th{
    padding: 20px 20px;
    text-align: start;
    vertical-align: top;
    font-size: 12px;
}

div.table-metrics table th.metrics-head{
    background-color: #4d5af7;
    color: white;
    font-weight: 800;
    font-size: 14px;
    text-decoration: underline;
}

div.table-metrics table td{
    padding-left: 20px;
    text-align: start;
}

div.table-metrics table td ul{
    padding-top: 10px;
}

div.table-metrics table th,td{
    border-right: 1px solid #d0d9fc;
    border-bottom: 1px solid #d0d9fc;
}

th:last-child,td:last-child{
    border-right: none;
}
tr:last-child{
    border-bottom: none;
    border-radius: 10px;
}

tr td{
    /* font-weight: 800; */
    opacity: 0.6;
    font-size: 12px;
}


